<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{% if page.title != 'Home' %}{{ page.title }} - {% endif %}The Yasm Modular Assembler Project</title>
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  </head>

  <body>
    <div id="header">
      <a id="logo" href="/"><img src="/banner.png" alt="Yasm" height="93" width="244" /></a>
    </div>

    <div id="left">
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Download.html">Download</a></li>
          <li><a href="/Guide.html">Documentation</a></li>
          <li><a href="{{site.wiki}}/Faq">FAQ</a></li>
          <li><a href="/HowToContribute.html">Participate</a></li>
          <li><a href="/MailingList.html">Mailing lists</a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div id="content">
        {{content}}
      </div>
    </div>
  </body>
</html>
